<div id="slider" class="slider">
      <div class="wrapper">
        <div id="slides" class="slides">
          <span class="slide">
            <img
              src="https://scontent.fkbp1-1.fna.fbcdn.net/v/t1.0-9/17626440_433316523694183_7002027337671711986_n.jpg?_nc_cat=106&_nc_oc=AQmiO_7ztXH2CvWzP0qwMMZdriR_wvq83c3gZ_F1F_-QDs8SmednntlsxWwKFf43CUc&_nc_ht=scontent.fkbp1-1.fna&oh=712bbc4b591f82d184aa51cfdaf904fc&oe=5E176CD6"
              alt=""
            />
          </span>
          <span class="slide">
            <img
              src="https://scontent.fkbp1-1.fna.fbcdn.net/v/t1.0-9/61581721_899590153733482_2224589915964833792_o.jpg?_nc_cat=100&_nc_oc=AQkqsYAQrPAE6yhctzeAUO9NK9xKTIAr0LaDCm6lULINteN6fx89Xqpixow-7o6uSik&_nc_ht=scontent.fkbp1-1.fna&oh=0f00c261a2fa52a36754df4173123331&oe=5E45C299"
              alt=""
            />
          </span>
          <span class="slide">
            <img
              src="https://scontent.fkbp1-1.fna.fbcdn.net/v/t1.0-9/47396696_788518571507308_7159895174615662592_o.jpg?_nc_cat=110&_nc_oc=AQnh59anYirpAlACp0Ek4ThSLx9FsLbCXOgIcEZdg37kDY-0-LdgNgOT3rZwI6ls-U0&_nc_ht=scontent.fkbp1-1.fna&oh=8040cc6996367fc2dc0723fc7672accb&oe=5E48C891"
              alt=""
            />
          </span>
        </div>
      </div>
      <a id="prev" class="control prev"></a>
      <a id="next" class="control next"></a>
    </div>