.btn--black {
  margin: 0 auto;
  padding: 0 60px;
  font-size: 22px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
  background: #1E1E1E;
  border: 1px solid transparent;
  box-sizing: border-box;
  transition: .5s all;

  &:hover {
    color: #1E1E1E;
    background: transparent;
    border: 1px solid #1e1e1e;
  }
}
